<h1>{{config.title}}</h1>
<div class="ui divider"></div>

<div data-ng-if="config.globalSearch" class="ui fluid category search" id="global-search">
    <div class="ui icon input">
        <input class="prompt" type="text" placeholder="Search..." data-ng-model="searchValue"
               data-ng-change="applyFilter(searchValue,'all_attributes')">
        <i class="search icon disabled"></i>
    </div>
    <div class="ui divider"></div>
</div>

<div class="ui stackable centered grid container">
    <div class="thirteen wide column">
        <table class="ui selectable celled table">
            <thead>
            <tr>
                <th data-ng-repeat="column in config.columns" data-ng-if="column.visible">
                    <div>
                        <div data-ng-if="column.searchable" class="ui fluid category search">
                            <div class="ui icon input">
                                <input class="prompt" type="text" placeholder="{{column.name}}..."
                                       data-ng-model="searchValue"
                                       data-ng-change="applyFilter(searchValue,column.property)">
                                <i class="search icon disabled"></i>
                            </div>
                            <span data-ng-if="column.sortable">
                                <i data-ng-class="sortIconClass" data-ng-click="applySort(column.property)"
                                   data-ng-if="isThisColumnSelected(column.property)"></i>
                                <i data-ng-class="sortIconClassDisabled" data-ng-click="applySort(column.property)"
                                   data-ng-if="!isThisColumnSelected(column.property)"></i>
                            </span>
                        </div>
                        <div data-ng-if="!column.searchable">
                            {{column.name}}
                        </div>
                    </div>
                </th>
            </tr>
            </thead>
            <!--{{dataList[0]["cliente"["id"]]}}-->
            <tbody>
            <tr data-ng-repeat="data in dataList" data-ng-click="showDetailsModal(data)">
                <td data-ng-repeat="column in config.columns" data-ng-if="column.visible"
                    data-ng-class="isThisColumnSelected(column.property)==true?'active':''">
                    {{showProperty(data,column.property)}}
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="5">
                    <div class="ui right floated pagination menu">
                        <a class="icon item" data-ng-click="goBackPage()" data-ng-if="checkNumberDown()">
                            <i class="left arrow icon"></i>
                        </a>
                        <a class="active item">
                            {{page}} of {{dataMeta.total_pages}}
                        </a>
                        <a class="icon item" data-ng-if="checkNumberUp()" data-ng-click="goNextPage()">
                            <i class="right arrow icon"> </i>
                        </a>
                    </div>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
    <div id="detailModal" class="ui modal">
        <i class="close icon"></i>

        <div class="header">
            {{config.detailViewTitle}}
        </div>
        <div class="content">
            <div class="description">
                <table class="ui striped table">
                    <tr data-ng-repeat="(key, value) in data">
                        <td>{{key}}</td>
                        <td>{{value}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>

<button class="ui small blue icon button" target="_blank" data-ng-click="exportar()"
        download>
    <i class="download icon"></i>
</button>