<list-directive data-config="var"></list-directive>


<br />
<br />
<div >
    <button class="ui button" data-ng-click="iniciarFacturacion()" >
        Facturar
    </button>

    <button class="ui button" data-ng-click="estadoFacturacion()" >
        Estado Facturación
    </button>

    <button class="ui button" data-ng-click="detenerFacturacion()" >
        Detener Facturación
    </button>
</div>

<div class="ui modal" id="estado">
    <i class="close icon"></i>
    <div class="header">
        Estado de Facturacion
    </div>
    <div class="content">
        <div class="description">
            <div class="ui header">{{mensaje}}</div>
        </div>
    </div>
    <div class="actions">
        <div class="ui black deny button">
            Cerrar
        </div>
    </div>
</div>

<div class="ui modal" id="inicio">
        <i class="close icon"></i>
        <div class="header">
            Iniciar Proceso de Facturacion
        </div>
        <div class="image content">
            <div class="description">
                <p>Esta seguro que desea lanzar el proceso de facturacion?</p>
            </div>
        </div>
    <div class="actions">
        <div class="ui black deny button">
            No
        </div>
        <div class="ui positive right labeled icon button" data-ng-click="lanzarFacturacion()">
            Si
            <i class="checkmark icon"></i>
        </div>
    </div>
</div>