<h1 class="ui dividing header">
    Formulario de Proveedores
</h1>
<form class="ui form" name="personForm">
    <div class="fields">
        <div class="three wide field">
            <label for="clientes">Ingrese la descripcion del proveedor: </label>

            <div class="ui input">
                <input id="clientes" type="text" placeholder="Proveedor..." data-ng-model="proveedor.descripcion">
            </div>
        </div>
    </div>
    <br/>
    <button class="ui button blue" data-ng-click="confirmarNuevoProveedor()">Confirmar</button>
</form>