<script>
    $(document).ready(function () {
        $('.ui.dropdown')
                .dropdown()
        ;
    });
</script>
<h1 class="ui dividing header">
    Baja de cliente
</h1>
<form class="ui form" name="personForm">
    <div class="fields">
        <div class="three wide field">
            <label for="clientes">Seleccione el cliente que desea eliminar: </label>

            <select id="clientes" class="ui search dropdown"
                    data-ng-options="cliente.id as cliente.nombre for cliente in clientes"
                    data-ng-model="clienteId">
                <option value="">Cliente...</option>
            </select>
        </div>
    </div>

    <br/>
    <button class="ui button blue" data-ng-click="confirmarEliminarCliente()">Confirmar</button>
</form>