<script>
    $(document).ready(function () {
        $('.ui.dropdown')
                .dropdown()
        ;
    });
</script>
<h1 class="ui dividing header">
    Formulario de producto
</h1>
<form class="ui form" name="personForm">
    <div class="fields">
        <div class="three wide field">
            <label for="descripcion">Ingrese la descripcion del producto: </label>

            <div class="ui input">
                <input id="descripcion" type="text" placeholder="Producto..." data-ng-model="producto.descripcion">
            </div>
        </div>
        <div class="three wide field">
            <label for="precio">Ingrese el precio del producto: </label>

            <div class="ui input">
                <input id="precio" type="text" placeholder="Precio..." data-ng-model="producto.precio">
            </div>
        </div>
        <div class="three wide field">
            <label for="proveedor">Seleccione el proveedor: </label>
            <select id="proveedor" class="ui search dropdown"
                    data-ng-options="proveedor.id as proveedor.descripcion for proveedor in proveedores"
                    data-ng-model="producto.proveedorId">
                <option value="">Proveedor...</option>
            </select>
        </div>
    </div>
    <br/>
    <button class="ui button blue" data-ng-click="confirmarNuevoProducto()">Confirmar</button>
</form>