<script>
    $(document).ready(function () {
        $('.ui.dropdown')
                .dropdown()
        ;
    });
</script>
<h1 class="ui dividing header">
    Formulario de venta
</h1>
<form class="ui form" name="personForm" novalidate="">
    <div class="three wide field">
        <label for="clientes">Seleccione el cliente: </label>
        <select id="clientes" class="ui search dropdown"
                data-ng-options="cliente.id as cliente.nombre for cliente in clientes"
                data-ng-model="clienteSeleccionado">
            <option value="">Clientes...</option>
        </select>
    </div>
    <div class="fields">
        <div class="three wide field">
            <label for="productos">Seleccione el producto:</label>
            <select id="productos" class="ui search dropdown"
                    data-ng-options="producto.descripcion for producto in productos track by producto.id"
                    data-ng-model="productoSeleccionado">
                <option value="">Productos...</option>
            </select>
        </div>
        <div class="field">
            <label>Ingrese la cantidad:</label>

            <div class="ui input">
                <input type="text" placeholder="Cantidad..." data-ng-model="productoSeleccionado.cantidad">
            </div>
        </div>
        <div class="field">
            <label>&nbsp;</label>

            <div class="ui button" data-ng-click="agregarAlCarro()">
                Agregar al carro
            </div>
        </div>
    </div>
    <h4 class="ui horizontal divider header">
        <i class="cart icon"></i>
        Carro de compras
    </h4>

    <div class="ui centered grid">
        <div class="nine wide column">
            <table class="ui selectable striped table">
                <thead>
                <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="producto in productosSeleccionados">
                    <td>{{producto.descripcion}}</td>
                    <td>{{producto.cantidad}}</td>
                    <td class="right aligned"><i class="delete icon" data-ng-click="removerProducto(producto)"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <br/>
    <button class="ui button blue" data-ng-click="confirmarVenta()">Confirmar</button>
</form>
